root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
# 是否删除行尾空格
trim_trailing_whitespace = true

[*.js]
# 是否在文件最后插入一个空行
insert_final_newline = true
# 行最大字符数
max_line_length = 200

[package.json]
indent_size = 2
